.nav-bar {
    background-color : #22223b;
    padding : 5px 20px;
    position : sticky;
    top: 20px;
    width: 90%;
    margin : 0 auto;
    border-radius: 50px;
    border : 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.nav-bar ul {
    list-style : none;
    margin : 0 auto;
    padding : 0;
    display : flex;
    align-items : center;
    justify-content: center;
    gap : 40px;
}

.nav-bar ul li a {
    color : white;
    text-decoration : none;
    font-size : 18px;
}

.nav-bar ul li a:hover {
    color : #9999dd;
}

html {
    scroll-behavior: smooth;
}

.nav-bar .CV-button {
    color: white;
    border: 2px solid white; 
}

.CV {
    padding: 0px 50px;
}

.nav-bar h3 {
    margin: 0;
}

.name {
    padding: 0px 50px;  
    margin: 0; 
}

@media (max-width: 768px) {
    .nav-bar {
        width: 95%;
        padding: 5px 10px;
        border-radius: 30px;
    }
    
    .nav-bar ul {
        gap: 15px; 
    }
    .nav-bar ul li a {
        font-size: 14px;
    }
    .name {
        padding: 0 10px; 
    }
    .name h3 {
        font-size: 16px;
    }
    .CV {
        padding: 0 10px; 
    }
    .CV-button {
        width: auto;
        font-size: 12px;
        padding: 6px 12px;
    }
}