.nav-bar {
    background-color : #333;
    padding : 5px 20px;
    position : sticky;
    top : 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.nav-bar ul {
    list-style : none;
    margin : 0 auto;
    padding : 0;
    display : flex;
    align-items : center;
    justify-content: center;
    gap : 30px;
}

.nav-bar ul li a {
    color : white;
    text-decoration : none;
    font-size : 18px;
}

.nav-bar ul li a:hover {
    color : #646cff;
}

html {
    scroll-behavior: smooth;
}

.nav-bar .CV-button {
    color: white;
    border: 2px solid white; 
}

.CV {
    padding: 0px 50px;
}

.nav-bar h3 {
    margin: 0;
}

.name {
    padding: 0px 50px;  
    margin: 0; 
}