.about-me {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 100%;
  margin: 0 30px;
}

.about-me-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 100%;  
}

.group-pic {
  width: 550px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-text {
  max-width: 800px;
  margin: 30px 70px;
}

.skills ul {
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.skills ul li {
  margin: 0 15px;
  border: 1px solid white;
  border-bottom: 3px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.skills ul li:hover {
  border: 1px solid #22223b;
  border-bottom: 3px solid #22223b;
  background-color: #9999dd;
}

.achievements ul {
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin: 0;
  padding: 0;
}

.achievements ul li {
  margin: 0 15px;
  border: 1px solid white;
  border-bottom: 3px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
  max-width: 350px;
}

.skills,
.achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.tech-item {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  list-style: none;      
  margin: 10px;
}

.tech-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .about-me {
    margin: 0 15px;
    padding: 0 10px;
    gap: 20px;
  }
  
  .about-text {
    margin: 20px 20px;
  }
  
  .group-pic { 
    height: auto;
    max-width: 100%;
    padding: 10px;
    border-radius: 20px;
  }
  
  .skills ul li,
  .achievements ul li {
    margin: 5px 5px; 
    font-size: 14px;
  }
}
