.about-me {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.about-me-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 100%;  
}

.profile-pic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.about-text {
  max-width: 800px;
  margin: 0 70px;
}

.skills ul {
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin: 0;
  padding: 0;
}

.skills ul li {
  margin: 0 20px;
  border: 1px solid white;
  border-bottom: 3px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.skills ul li:hover {
  border: 1px solid #22223b;
  border-bottom: 3px solid #22223b;
  background-color: #9999dd;
}

.achievements ul {
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin: 0;
  padding: 0;
}

.achievements ul li {
  margin: 0 20px;
  border: 1px solid white;
  border-bottom: 3px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.skills,
.achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tech-item {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  list-style: none;      
  margin: 10px;
}

.tech-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
