.GitHub img, .LinkedIn img, .Email img, .Phone img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

button {
  width: 140px;
  height: 50px;
  display: inline-flex;
  margin: 5px;
  align-items: center;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: black;
  background: none;
  border: 2px solid black;
  border-radius: 8px;
  padding: 6px 20px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

button:hover {
  background-color: #9999dd;
  color: black;
}