.profile-pic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 0 20px;
}

.intro-text {
  max-width: 750px;
  width: 100%;
  margin: 70px 20px;
}

.intro {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 20px;
}

@media (max-width: 768px) { 
  .profile-pic { 
    width: 200px; 
    height: 200px;
    margin: 0 10px;
} .intro-text { 
  margin: 30px 10px; 
  text-align: center; 
} 
  .intro { 
    gap: 20px; 
    padding: 0 10px; 
  } 
}