.profile-pic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 0 20px;
}

.intro-text {
  max-width: 800px;
  width: 100%;
  margin: 70px 70px;
}

.intro {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100vw;
}