.skills ul {
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin: 0;
  padding: 0;
}

.skills ul li {
  margin: 0 20px;
  border: 1px solid white;
  border-bottom: 3px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.skills ul li:hover {
  border: 1px solid #00aced;
  border-bottom: 3px solid #00aced;
  background-color: #00aced33;
}

.achievements ul {
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin: 0;
  padding: 0;
}

.achievements ul li {
  margin: 0 20px;
  border: 1px solid white;
  border-bottom: 3px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.about-me {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-pic {
  width: 300px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}

.about-text {
  max-width: 700px;
}

.intro, .about-me, .skills, .achievements {
  margin: 0 auto;
  padding: 70px;
}

.top-wave {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.top-wave svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 160px;
    transform: rotateY(180deg);
}

.top-wave .shape-fill {
    fill: #FFFFFF;
}

.bottom-wave {
    position: relative;
    bottom: -250px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-wave svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 171px;
}

.bottom-wave .shape-fill {
    fill: #FFFFFF;
}

