#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 110px 0;
  background-color: #22223b;
  color: #ffffff;
  overflow-x: hidden;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section {
  width: 100%;
  position: relative;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  body {
    padding: 80px 0;
  }
}

#intro, #about, #projects, #contact {
  padding : 250px 0;
  margin: 0;
  
}

#intro {
  background-color:  #093a3e;
}
#about {
  background-color:  #3aafb9;
}
#projects {
  background-color:  #5bd5da ;
}
#contact {
  background-color:  #97c8eb;
}

.wave-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
}

.wave-1 svg, .wave-2 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 150px;
}

.wave-1 .shape-fill {
    fill: #093a3e;
}

.wave-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-2 .shape-fill {
    fill: #3aafb9;
}

.wave-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-3 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 149px;
    transform: rotateY(180deg);
}

.wave-3 .shape-fill {
    fill: #5bd5da;
}

.top-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.top-wave svg {
    position: relative;
    display: block;
    width: 100%;
    height: 160px;
    transform: rotateY(180deg);
}

.top-wave .shape-fill, .bottom-wave .shape-fill {
    fill: #22223b;
}

.bottom-wave {
    position: relative;
    bottom: -250px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-wave svg {
    position: relative;
    display: block;
    width: 100%;
    height: 171px;
}

.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 1000;
}