#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 100px 0;
  background-color: #22223b;
  color: #ffffff;
  overflow-x: hidden;
}

section {
  width: 100%;
  
}

#intro, #about, #projects, #contact {
  padding : 250px 0;
  margin: 0;
  
}

#intro {
  background-color:  #093a3e;
}
#about {
  background-color:  #3aafb9;
}
#projects {
  background-color:  #5bd5da ;
}
#contact {
  background-color:  #97c8eb;
}

.wave-1 {
    position: absolute;
    bottom: 250px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-1 svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 150px;
}

.wave-1 .shape-fill {
    fill: #093a3e;
}

.wave-2 {
    position: absolute;
    bottom: -1240px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 149px;
}

.wave-2 .shape-fill {
    fill: #3aafb9;
}

.wave-3 {
    position: absolute;
    bottom: -2320px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-3 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 149px;
    transform: rotateY(180deg);
}

.wave-3 .shape-fill {
    fill: #5bd5da;
}

.top-wave {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.top-wave svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 160px;
    transform: rotateY(180deg);
}

.top-wave .shape-fill {
    fill: #22223b;
}

.bottom-wave {
    position: relative;
    bottom: -250px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-wave svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 171px;
}

.bottom-wave .shape-fill {
    fill: #22223b;
}

.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 1000;
}