#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: #1e1e2f;
  color: #ffffff;
  overflow-x: hidden;
}

section {
  width: 100%;
}

#intro, #about, #projects, #contact {
  padding : 250px 0;
  margin: 0;
  
}

#intro {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
}
#about {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}
#projects {
  background: linear-gradient(135deg, #43cea2, #185a9d);
}
#contact {
  background: linear-gradient(135deg, #ff512f, #dd2476);
}
