#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: #1e1e2f;
  color: #ffffff;
  overflow-x: hidden;
}

section {
  width: 100%;
}

#intro, #about, #projects, #contact {
  padding : 250px 0;
  margin: 0;
  
}

#intro {
  background-color:  #ff7e5f;
}
#about {
  background-color:  #6a11cb;
}
#projects {
  background-color:  #43cea2 ;
}
#contact {
  background-color:  #dd2476;
}

.custom-shape-divider-top-1770420628 {
    position: absolute;
    bottom: 215px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1770420628 svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1770420628 .shape-fill {
    fill: #FF7E5F;
}

.custom-shape-divider-top-1770420816 {
    position: absolute;
    bottom: -1490px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1770420816 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 149px;
}

.custom-shape-divider-top-1770420816 .shape-fill {
    fill: #6A11CB;
}

.custom-shape-divider-top-1770421127 {
    position: absolute;
    bottom: -2460px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1770421127 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 149px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1770421127 .shape-fill {
    fill: #43CEA2;
}